<form method="post">
	<div class="mb-3">
		<label for="" class="form-label">Tytuł</label>
		<input
			type="text"
			class="form-control <%- errors?.title ? 'is-invalid' : '' %>"
			name="title"
			value="<%= task.title %>"
		/>

		<% if (errors?.title) { %>
		<div class="invalid-feedback"><%- errors.title.message %></div>
		<% } %>
	</div>

	<div class="mb-3">
		<label for="" class="form-label">Opis</label>
		<input
			type="text"
			class="form-control <%- errors?.description ? 'is-invalid' : '' %>"
			name="description"
			value="<%= task.description %>"
		/>
		<div class="form-text">Minimalna liczba znaków to 3.</div>

		<% if (errors?.description) { %>
		<div class="invalid-feedback"><%- errors.description.message %></div>
		<% } %>
	</div>

	<button type="submit" class="btn btn-outline-primary">
		<%= buttonTitle %>
	</button>
</form>
